<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HCM">
<listeners>
<listener class-name="com.utilities.Reporting"></listener>
</listeners>



  <test thread-count="5" name="Test"> 
  <parameter name="browsers" value="chrome"></parameter>
  
   <classes>
     <class name="com.testcases.LoginTest001"></class>
     <class name="com.testcases.CustomFieldTest"></class>
     <class name="com.testcases.UserViewTest"></class>
     <class name="com.testcases.LocationTest"></class>
     
     
    
      
    </classes>
</test>
</suite> <!-- Suite -->